[Desktop Entry]
Name=DA-CryptPad
Comment=Secure encryption and file management
Exec=da-cryptpad
Icon=da-cryptpad
Type=Application
Categories=Utility;Security;
Terminal=false